{% extends 'index.html' %}
{% block content %}
<table class="container">
  <tr>
    <td>
      <table class="row">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td>
                  <h3>Hi, {{ username }}</h3>
                  <p>Thank you for joining the site. You can access your <a href="{{ origin }}/settings">settings here</a>.</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="row callout">
        <tr>
          <td class="wrapper last">
            <table class="twelve columns">
              <tr>
                <td class="panel">
                  <p>Please confirm your email address. <a href="{{ origin }}/user/confirmEmail/{{ token }}">Click here! »</a></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock %}