<import: src="./403">
<import: src="./404">
<import: src="./500">
<import: src="./home">
<import: src="./forgot">
<import: src="./reset">
<import: src="./settings">
<import: src="./signin">
<import: src="./signup">

<Scripts:>
  <script src="/shared/bower_components/jquery/jquery.min.js"></script>
  <script src="/shared/bower_components/jquery-popupwindow/jquery.popupwindow.js"></script>
  <script src="/shared/bower_components/fastclick/lib/fastclick.js"></script>
  <script>$(function(){FastClick.attach(document.body);});</script>

<Header:>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/shared/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/shared/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <ui:connectionAlert>
  <header class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-user"></i> Derby User</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <app:navitem href="/" title="Home">
          {#if _page.user.public.isRegistered}
          <app:navitem href="/settings" title="Settings">
          <li><a x-bind="click: user.signout">Sign out</a></li>
          {else}
          <app:navitem href="/signup" title="Sign up">
          <app:navitem href="/signin" title="Sign in">
          <app:navitem href="/forgot" title="Forgot">
          {/}
        </ul>
        {#if _page.user.public.isRegistered}
        <ul class="nav navbar-nav navbar-right dropdown">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              {#if user.photoUrl(_page.user.public)}
              <img alt="" height="20" src="{user.photoUrl(_page.user.public)}" width="20">
              {else}
              <i class="fa fa-user"></i>
              {/}&nbsp;
              {user.displayName(_page.user.public)} <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/settings">Settings</a></li>
              <li class="divider"></li>
              <li><a x-bind="click: user.signout"><i class="fa fa-sign-out"></i> Sign out</a></li>
            </ul>
          </li>
        </ul>
        {else}
        {#with _page.form.navbar}
        <form class="navbar-form navbar-right" x-bind="submit: user.signin">
          <div class="form-group">
            <label class="sr-only" for="navUsernameOrEmail">Username or email</label>
            <input id="navUsernameOrEmail" class="form-control" placeholder="Username or email" type="text" value="{.usernameOrEmail}">
          </div>&nbsp;
          <div class="form-group">
            <label class="sr-only" for="navPassword">Password</label>
            <input id="navPassword" class="form-control" placeholder="Password" type="password" value="{.password}">
          </div>&nbsp;
          <div class="form-group">
            <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i> Sign in</button>&nbsp;
            <div class="btn-group">
              <a class="btn btn-primary" x-bind="click: user.connect.facebook"><i class="fa fa-facebook"></i></a>
              <a class="btn btn-primary" x-bind="click: user.connect.google"><i class="fa fa-google-plus"></i></a>
              <a class="btn btn-primary" x-bind="click: user.connect.twitter"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </form>
        {/}
        {/}
      </div>
    </div>
  </header>
  {#if _page.user.public.isRegistered}
  {#if not(_page.user.private.local.emails.0.value)}
  <div class="container">
    <div class="alert alert-warning">
      <p><i class="fa fa-exclamation-circle"></i> <a href="/settings">Please set your email address</a>.</p>
    </div>
  </div>
  {else if not(_page.user.private.local.emails.0.verified)}
  <div class="container">
    <div class="alert alert-warning">
      <p>Please confirm your email address. A confirmation message was sent to <strong>{_page.user.private.local.emails.0.value}</strong>.</p>
      {#with _page.form.verifyEmail}
      <p><a class="btn btn-default" x-bind="click: user.verifyEmail"><i class="fa fa-repeat"></i> Resend confirmation</a> <a href="/settings">Update email address</a>.</p>
      {/}
    </div>
  </div>
  {/}
  {/}

<Footer:>
  <hr>
  <div class="container">
    <div id="footer">
      <p class="text-muted credit">
        Derby User {{$config.version}} · <a href="{{$config.repository.url}}"><i class="fa fa-github"></i> GitHub Project</a>
      </p>
    </div>
  </div>

<navitem:>
  <li class="{{#if equal($url, @href)}}active{{/}}">
    <a href="{{@href}}">{{@title}}</a>
  </li>