<Title:>
  Sign in

<Body:>
  <div class="container">
    <div class="page-header">
      <h1>Sign in</h1>
    </div>
    {#with _page.form}
    <form role="form" x-bind="submit: user.signin">
      <div class="form-group">
        <label for="usernameOrEmail">Username or email</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input id="usernameOrEmail" class="form-control" placeholder="Username or email" type="text" value="{.usernameOrEmail}">
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input id="password" class="form-control" placeholder="Password" type="password" value="{.password}">
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          <i class="fa fa-sign-in"></i> Sign in
        </button>&nbsp;
        <a href="/forgot">Forgot your password?</a>
      </div>
    </form>
    {/}
    <hr>
    <p class="lead">Or sign in using…</p>
    <button class="btn btn-default" type="button">
      <i class="fa fa-facebook-square"></i> Facebook
    </button>&nbsp;
    <button class="btn btn-default" type="button">
      <i class="fa fa-google-plus-square"></i> Google+
    </button>&nbsp;
    <button class="btn btn-default" type="button">
      <i class="fa fa-twitter-square"></i> Twitter
    </button>
  </div>