<Title:>
  Sign up

<Body:>
  <div class="container">
    <div class="page-header">
      <h1>Sign up</h1>
    </div>
    {#with _page.form}
    <form role="form" x-bind="submit: user.signup">
      {#with .username}
      <div class="form-group{#with .messages}{#if .0} has-error{/}{/}{#with .errors}{#unless .0} has-success{/}{/}">
        <label class="control-label" for="username">{#with .messages}{#if .0}{t(., $user.schema.username)}{else}Username{/}{/}</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input id="username" class="form-control" autofocus name="username" placeholder="Username" spellcheck="false" type="text" value="{.value}" x-bind="blur: $validate.form.event, keypress: $validate.form.event">
        </div>
      </div>
      {/}
      {#with .email}
      <div class="form-group{#with .messages}{#if .0} has-error{/}{/}{#with .errors}{#unless .0} has-success{/}{/}">
        <label class="control-label" for="username">{#with .messages}{#if .0}{t(., $user.schema.email)}{else}Email{/}{/}</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input id="email" class="form-control" name="email" placeholder="Email" type="email" value="{.value}" x-bind="blur: $validate.form.event, keypress: $validate.form.event">
        </div>
      </div>
      {/}
      {#with .photo}
      <photo:upload bind="create: photoUpload.create" errors="{.errors}" image="{.image}" loading="{.loading}" size="{$user.schema.photo.size}">
        <div class="form-group" x-as="dropzone">
          <label class="control-label" for="photo">Photo</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-camera"></i></span>
            <input id="photo" class="form-control" accept="image/*" type="file" value="{.value}" x-as="input">
          </div>
          <p class="help-block">
            <a class="{#unless .image.object}hidden{/}" href="#" x-as="edit">Edit your photo</a>
            <span class="{#if .image.object}hidden{/}">Optional profile photo</span>
          </p>
          <div class="modal fade" aria-hidden="true" role="dialog" tabindex="-1" x-as="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Edit your photo</h4>
                </div>
                <div class="modal-body text-center">
                  <div class="img-rounded" style="display:inline-block;height:{$user.schema.photo.size}px;overflow:hidden;width:{$user.schema.photo.size}px;">
                    <img src="{.image.object.src}" x-as="image">
                  </div>
                  <div>
                    <input class="{#unless .image.canScale}hidden{/}" type="range" x-as="scale">&sp;
                    <p class="text-muted">Drag the image or zoom in and out.</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" x-as="reset">Reset</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </photo:upload>
      {/}
      {#with .password}
      <div class="form-group{#with .messages}{#if .0} has-error{/}{/}{#with .errors}{#unless .0} has-success{/}{/}">
        <label class="control-label" for="username">{#with .messages}{#if .0}{t(., $user.schema.password)}{else}Password{/}{/}</label>
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input id="password" class="form-control" name="password" placeholder="Password" type="password" value="{.value}" x-bind="blur: $validate.form.event, keypress: $validate.form.event">
        </div>
      </div>
      {/}
      <button class="btn btn-primary" type="submit">Sign up</button>
    </form>
    {/}
    <hr>
    <p class="lead">Or sign up using…</p>
    <div class="visible-xs">
      <a class="btn btn-default" x-bind="click: user.connect.facebook">
        <i class="fa fa-facebook fa-lg"></i>
      </a>&sp;
      <a class="btn btn-default" x-bind="click: user.connect.google">
        <i class="fa fa-google-plus fa-lg"></i>
      </a>&sp;
      <a class="btn btn-default" x-bind="click: user.connect.twitter">
        <i class="fa fa-twitter fa-lg"></i>
      </a>
    </div>
    <div class="hidden-xs">
      <a class="btn btn-default" x-bind="click: user.connect.facebook">
        <i class="fa fa-facebook-square"></i> Facebook
      </a>&sp;
      <a class="btn btn-default" x-bind="click: user.connect.google">
        <i class="fa fa-google-plus-square"></i> Google+
      </a>&sp;
      <a class="btn btn-default" x-bind="click: user.connect.twitter">
        <i class="fa fa-twitter-square"></i> Twitter
      </a>
    </div>
  </div>